version: "3.9"

networks:
  Dhealt_network:
    driver: bridge

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: yii2_web
    ports:
      - "3000:80"
    depends_on:
      - db_postgres
    networks:
      - Dhealt_network

  db_postgres:
    image: postgres:18-alpine
    container_name: postgres_db
    environment:
      POSTGRES_DB: yii2db
      POSTGRES_USER: yii2user
      POSTGRES_PASSWORD: yii2pass
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - Dhealt_network

  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - web
    networks:
      - Dhealt_network

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    networks:
      - Dhealt_network

  node_exporter:
    image: prom/node-exporter:latest
    container_name: node_exporter
    ports:
      - "9100:9100"
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - "--path.procfs=/host/proc"
      - "--path.sysfs=/host/sys"
      - "--path.rootfs=/rootfs"
    networks:
      - Dhealt_network

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3333:3000"
    volumes:
      - grafana_data:/var/lib/grafana
      - ./monitoring/grafana/datasource.yml:/etc/grafana/provisioning/datasources/datasource.yml:ro
    depends_on:
      - prometheus
    networks:
      - Dhealt_network
      
  postgres_exporter:
    image: prometheuscommunity/postgres-exporter:latest
    container_name: postgres_exporter
    environment:
      DATA_SOURCE_NAME: "postgresql://yii2user:yii2pass@db_postgres:5432/yii2db?sslmode=disable"
    ports:
      - "9188:9187"
    depends_on:
      - db_postgres
    networks:
      - Dhealt_network

volumes:
  pgdata:
  grafana_data:
